inference/setup/tf/modules/step_function/pipeline/statemachine.asl.json
{
    "Comment": "A description of my state machine",
    "StartAt": "Processing",
    "States": {
        "Processing": {
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "OutputPath": "$.Payload",
            "Parameters": {
                "Payload.$": "$",
                "FunctionName": "${ProcessingLambda}"
            },
            "Retry": [
                {
                    "ErrorEquals": [
                        "Lambda.ServiceException",
                        "Lambda.AWSLambdaException",
                        "Lambda.SdkClientException",
                        "Lambda.TooManyRequestsException"
                    ],
                    "IntervalSeconds": 1,
                    "MaxAttempts": 3,
                    "BackoffRate": 2
                }
            ],
            "Next": "Processing successful?"
        },
        "Processing successful?": {
            "Type": "Choice",
            "Choices": [
                {
                    "Not": {
                        "Variable": "$.statusCode",
                        "NumericEquals": 200
                    },
                    "Next": "Fail Processing"
                }
            ],
            "Default": "Inference"
        },
        "Fail Processing": {
            "Type": "Fail"
        },
        "Inference": {
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "OutputPath": "$.Payload",
            "Parameters": {
                "Payload.$": "$",
                "FunctionName": "${InferenceLambda}"
            },
            "Retry": [
                {
                    "ErrorEquals": [
                        "Lambda.ServiceException",
                        "Lambda.AWSLambdaException",
                        "Lambda.SdkClientException",
                        "Lambda.TooManyRequestsException"
                    ],
                    "IntervalSeconds": 1,
                    "MaxAttempts": 3,
                    "BackoffRate": 2
                }
            ],
            "Next": "Inference successful?"
        },
        "Inference successful?": {
            "Type": "Choice",
            "Choices": [
                {
                    "Not": {
                        "Variable": "$.statusCode",
                        "NumericEquals": 200
                    },
                    "Next": "Fail Inference"
                }
            ],
            "Default": "Observe"
        },
        "Fail Inference": {
            "Type": "Fail"
        },
        "Observe": {
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "OutputPath": "$.Payload",
            "Parameters": {
                "Payload.$": "$",
                "FunctionName": "${ObserveLambda}"
            },
            "Retry": [
                {
                    "ErrorEquals": [
                        "Lambda.ServiceException",
                        "Lambda.AWSLambdaException",
                        "Lambda.SdkClientException",
                        "Lambda.TooManyRequestsException"
                    ],
                    "IntervalSeconds": 1,
                    "MaxAttempts": 3,
                    "BackoffRate": 2
                }
            ],
            "Next": "Observability successful?"
        },
        "Observability successful?": {
            "Type": "Choice",
            "Choices": [
                {
                    "Not": {
                        "Variable": "$.statusCode",
                        "NumericEquals": 200
                    },
                    "Next": "Fail Observability"
                }
            ],
            "Default": "Success"
        },
        "Fail Observability": {
            "Type": "Fail"
        },
        "Success": {
            "Type": "Succeed"
        }
    }
}